nav {
  height: 50px;
  background-color: black;

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a {
      margin-top: 12px;
      text-decoration: none;
      color: white;
    }
  }
}
